<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert page</title>
    <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body style='color: white'>
    <div class='box'>
        <% if(alerttype=='login-success') {  %>
             <h1>LOGIN SUCCESSFULL</h1>
             <%- alertmsg %> 
        <% } %>
        

        <% if(alerttype=='login-failed') {  %>
            <h1>LOGIN FAILED</h1> 
            <%- alertmsg %>
       <% } %>
       
       <% if(alerttype=='access-denied') {  %>
            <h1>ACCESS DENIED</h1> 
            <%- alertmsg %>
        <% } %>

        <% if(alerttype=='access-invalid') {  %>
            <h1>ACCESS DENIED</h1> 
            <%- alertmsg %>
        <% } %>
    </div>
    
</body>
</html>